<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Products</title>
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
        }
    </style>
</head>
<body>
    <header>
        <h3>Available products:</h3>
    </header>

    <section>
        <div class="product-table">
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr th:each="product, iterStat:${products}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.category}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </section>
    
    <footer>
        <a href="/home">Back to home page</a>
    </footer>
</body>
</html>