<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h3>A Product Catalogue system</h3>
    </header>
    <section>
        <p>1. <a href="/addProduct">Add a product</a> </p>
        <p>2. <a href="/displayProducts">Display all products</a> </p>
    </section>
    <footer>
        <p>End of page.</p>
    </footer>
</body>
</html>